{
  "plugins": ["prettier-plugin-astro"],
  "singleQuote": true,
  "semi": true,
  "printWidth": 90,
  "overrides": [
    {
      "files": "*.astro",
      "options": { "parser": "astro" }
    }
  ]
}
